.messages {
  background: #f3f3f3;
}

.cursor-pointer {
  cursor:pointer;
}

span.link {
     color: #3097d1;
     cursor:pointer;
 }

span.link:hover{
 color:#31708f;
 /*text-decoration: bold;*/
}

span.link:active{
 color:#3097d1;
}
